<%- include("partials/header"); -%>

<h2> Compose </h2>
<form method="post" action="/compose">
    <input type="text" name="blogEntry">
    <button type="submit" name="">Publish</button>
</form>

<%- include("partials/footer"); -%>
